body {
    margin: 0;
}

.fullscreen-container {
    background-image: url(./image/pexels-felixmittermeier-1039083.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(133, 100%, 13%, 0.336);
    padding: 50px 30px;
    width: 50%; /* The div will be 50% of the screen width */
    max-width: 600px; /* But it can't get bigger than 600 pixels wide */
    
    /* border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #c8c8c854; 
    background-color: #c8c8c87c;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid#e9e9e94f; */
} 

.login-title {
    color: white;
    text-align: center;
    margin: 0 0 40px;
    font-size: 2.5em; /* 2.5 times bigger than normal text */
    font-weight: normal; /* Not bold, just regular weight */
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
    margin-bottom: 7px;
}

.input-group input {
    background: none;
    border: none;
    outline: none;
    background-color: hsla(115, 30%, 95%, 0.4);
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid hsl(115, 6%, 20%);
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.input-group input:focus {
    border-color: hsl(115, 50%, 50%);
}

.login-button {
    background: none;
    border: none;
    outline: none;
    background-color: hsla(115, 100%, 50%, 0.1);
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid hsl(115, 6%, 20%);
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.login-button:hover, .login-button:focus {
    background-color: hsla(115, 50%, 50%, 0.3); /* Brighter green bg */
    border-color: hsl(115, 50%, 50%); /* Brighter green border */
}






